@using Newtonsoft.Json
@inject IHttpContextAccessor contextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CleanStudentManagementUI</title>
    <link href="~/css/united.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CleanStudentManagementUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (contextAccessor.HttpContext?.Session.GetString("logindetails")!=null)
        {
            var sessaioninfo = contextAccessor.HttpContext.Session.GetString("logindetails");
            var logindata = JsonConvert.DeserializeObject<LoginViewModel>(sessaioninfo);
            if (logindata?.Role==1)
            {
                <partial name="_adminNav"/>
            }
            if (logindata?.Role == 2)
            {
                <partial name="_teacherNav" />
            }
            if (logindata?.Role == 3)
            {
                <partial name="_studentNav" />
            }
        }
        else
        {
            <partial name="_defaultNav" />
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CleanStudentManagementUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
