@model StateViewModel

@{
    ViewData["Title"] = "CreateState";
}

<h1>Create New State</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateState">
            <input type="hidden" asp-for="StateId" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
             <div class="form-group">
                <label  class="control-label">Country Name</label>
                <select asp-for="Country_ID" asp-items="Model.Countrys" class="form-select single-select dropdown">
                    <option selected disabled>Choose Country</option>
                </select>
                <span asp-validation-for="Country_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State_Name" class="control-label"></label>
                <input asp-for="State_Name" class="form-control" />
                <span asp-validation-for="State_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
